<h2 class="center">Patient List</h2>
<div class="container">
    <div class="row">

        <div *ngFor="let patient of patientList" class="col m4 s6">
            <div (click)="goToPatient(patient)" card horizontal patientBorderCard>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>  First Name : {{ patient.firstName }} <br/>
                             Last Name : {{ patient.lastName}} <br/>
                             
                        <p>
                        <p><small>
                            BirthDate : {{ patient.birthDate | date:'dd/MM/yyyy'}} <br/>
                            Gender : {{ patient.gender}} <br/>
                            Address : {{ patient.address}} <br/>
                            Phone Number : {{ patient.phoneNumber}} <br/>

                        </small></p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
