<div *ngIf="patient" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center"> Patient informations </h2>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td><strong>{{ patient.firstName }}</strong></td>
                  </tr>
              <tr>
                <td>Last Name</td>
                <td><strong>{{ patient.lastName }}</strong></td>
              </tr>
              <tr>
                <td>BirthDate</td>
                <td><em>{{ patient.birthDate| date:"dd/MM/yyyy" }}</em></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td><strong>{{ patient.gender }}</strong></td>
              </tr>
              <tr>
                <td>Address</td>
                <td><strong>{{ patient.address }}</strong></td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td><strong>{{ patient.phoneNumber }}</strong></td>
              </tr>
              
              
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goToPatientList()">Retour</a>
        </div>
      </div>
    </div>
    </div>
</div>
<h4 *ngIf='!patient' class="center">There is no patient here !</h4>